<div class="row justify-content-center">
  <div class="col-md-12">
    <h3 style="color: #FF6713">Validez votre réservation</h3>

    <%= simple_form_for [kitchen, booking] do |f| %>
      <%= f.error_notification %>
      <%= f.input :start_date,
        as: :string,
        label: "De",
        placeholder: "From",
        wrapper_html: { class: "inline_field_wrapper" },
        input_html: { value: session[:start_date] }
      %>
      <%= f.input :end_date,
        as: :string,
        label: "À",
        placeholder: "To",
        wrapper_html: { class: "inline_field_wrapper" },
        input_html: { value: session[:end_date] }
      %>

    <p>Journée(s) réservée(s): <span id="total-days"></span>0</p>
    <p>Prix total: <span class="font-weight-bold"><span id="total-price">0</span> €</span></p>
    <%= f.submit "Réserver", class: "btn btn-primary" %>
    <% end %>
    <%= link_to "Retourner à la liste des cuisines", kitchens_path %>
</div>
  </div>
