<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a href="<% bookings_path %>" class="nav-link active" aria-current="page">
              Mon espace personnel
            </a>
          </li>
          <li>
            <a href="<%= bookings_path %>" class="nav-link" aria-current="page">
              <i class="fas fa-calendar-alt"></i><use xlink:href="#speedometer2"/>
              Mes réservations
            </a>
          </li>
          <li>
            <a href="<% bookings_path %>" class="nav-link" aria-current="page">
              <i class="fas fa-key"></i><use xlink:href="#table"/>
              Mes kitchens à louer
            </a>
          </li>
          <li>
            <a href="#" class="nav-link link-dark">
              <i class="fas fa-info-circle"></i><use xlink:href="#grid"/></svg>
              Mes informations
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 bg-warning pt-3">

      <div class="container pages-container margin-nav">
        <div class="card mb-3">
          <div class="card-body">
            <h2 style="color: #FF6713"><b>Ma réservation</b></h2>
          </div>   
        </div>

        <div class="card mb-5">
          <div class="card-body">

          <% if @booking.user == current_user %>
            <div class="book-content">
              <div class="book-info">
                <h3 class="mb-2" style="color: #FF6713"><%= @kitchen.location %></h3>
                <div class="book-date">
                  <h5>Date de réservation :</h5>
                  <div class="row">
                    <div class="col-md-3">
                      <p>Du <%= @booking.start_date.strftime('%e %B %Y')%></p>
                    </div>
                    <div class="col-md-3">
                      <p> Au <%= @booking.end_date.strftime('%e %B %Y')%></p>
                    </div>
                  </div>
                </div>
                <div class="book-price">
                  <h3 style="color: #FF6713">Prix total : <%= @total_price %> €</h3>
                </div>
              </div>
            </div>
            <div class="book-description">
              <h5>Description :</h5>
            <p><%= @kitchen.description %></p>
            </div>
          </div>
        </div>
        <% else "Vous n'avez pas de réservation en cours" %>
        <% end %>
         <div class="flat-card-actions">
            <%= render 'reviews/form', review: @review, kitchen: @booking, text: "laisser un commentaire" %>
          </div>


          </div>   
        </div>
      </div>
    </main>
  </div>
</div>
