<div class="main-container">
  <%# <div class="container pt-3">
    <h2 style="color: #FF6713">Toutes les cuisines</h2>
  </div> %>

  <div class="cards" id="custom-cards">

    <% @kitchens.each do |kitchen| %>
      <div class="card" style="width: 18rem;" id="cardgrid">
        <% if kitchen.picture.attached? %>
        <%= cl_image_tag kitchen&.picture.key, alt: "alttext", class: "card-img-top img-fluid" %>
        <% end %>
        <div class="card-body">
          <h4 class="card-title" style="color: #FF6713"><%= kitchen.name %></h4>
          <p class="card-text"><%= kitchen.description %></p>
          <div class="row">
            <div class="col-md-6">
              <a href="<%= kitchen_path(kitchen) %>" class="btn btn-primary">voir plus</a>
            </div>
            <div class="col-md-6">
              <h2 class="card-text btn btn-outline-primary"><b><%= kitchen.price %> €</b></h2>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>


  <div id="map"
    style="width: 100%; height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

</div>
