<div class="container margin-top-negative">
<h2 style="color: #FF6713"><%= @kitchen.name %></h3>

  <div class="row">
    <div class="col-8">
      <div class="kitchen-show-card">

        <p><%= cl_image_tag @kitchen&.picture.key, alt: "alttext", class: 'img-fluid rounded'%></p>
      </div>
    </div>
    <div class="col-4">
      <div class= 'img-fluid rounded pb-3' id="map"
          style="width: 100%; height: 100%;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-8">
      <h3 style="color: #FF6713">Détails</h3>
      <p><%= @kitchen.description %></p>
      <p><i class="fas fa-ruler-combined"></i> <%= @kitchen.location %></p>
      <p><i class="fas fa-euro-sign"></i><span id="kitchen-price-per-day"> <%= @kitchen.price %></span> / jour</p>
      <p><i class="fas fa-users"></i> <%= @kitchen.size %> personne(s)</p>
    </div>

    <div class="col-4">
      <div class="card p-3 justify-content-center" style="width: 100%;">
      <div class="card-body">
        <% if policy(@kitchen).edit? %>
        <%= link_to 'Edit', edit_kitchen_path(@kitchen), class: 'ml-3 text-warning' %>
        <%= link_to "Remove", kitchen_path(@kitchen),
        method: :delete,
        data: { confirm: "Are you sure?" },
        class: 'ml-3 text-danger'%>
        <% end %>
        <%= render 'bookings/form', booking: @booking, kitchen: @kitchen, text: "Réserver" %>
        <% @reviews&.each do |review| %>
        <h5><%= review.comment %></h5>
        <% end %>
      </div>
      </div>
    </div>
  </div>
</div>
