<div class="container margin-top-negative">
  <div class="row">
    <div class="col-7">
      <div class="kitchen-show-card">
        <h1><%= @kitchen.name %></h1>
      </div>
      <div class="kitchen-show-card">
        <p><%= cl_image_tag @kitchen&.picture.key, alt: "alttext" %></p>
      </div>
      <div class="kitchen-show-card">
        <h3>Details</h3>
        <p>Location: <%= @kitchen.location %></p>
        <p>Price per day: <%= @kitchen.price%>€</p>
        <p>Maximum capacity: <%= @kitchen.size %> People</p>
        <p>Description: <%= @kitchen.description %></p>
      </div>
    </div>

    <div class="col-5">
      <div class="kitchen-show-card">
        <div id="map"
          style="width: 100%; height: 600px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      </div>
        <div class="flat-card-actions">
          <% if policy(@kitchen).edit? %>
            <%= link_to 'Edit', edit_kitchen_path(@kitchen), class: 'ml-3 text-warning' %>
            <%= link_to "Remove", kitchen_path(@kitchen),
                method: :delete,
                data: { confirm: "Are you sure?" },
                class: 'ml-3 text-danger'
            %>
            <% end %>
        </div>

        <div class="flat-card-actions">
          <%= render 'bookings/form', booking: @booking, kitchen: @kitchen, text: "Réserver" %>
          <%= link_to "back to the list", kitchens_path %>
        </div>
    </div>
  </div>
</div>

  <div class="cards-grid-3">
      <% @reviews&.each do |review| %>
        <div class="card-flat">
            <div class="card-flat-image">
            </div>
            <h5><%= review.comment %></h5>
      <% end %>
