<!DOCTYPE html>
<html>
  <head>
    <title>Kitch2Be</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_pack_tag 'application' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-around py-2 bg-white sticky-top">
      <a href="/" class="d-flex align-items-center md-3">
        <%= image_tag "Kitch2be.png", alt: "Kitch2be", class: "bi me-2 logo"%>
      </a>

      <ul class="nav col-12 col-md-auto justify-content-center">
        <li><a href="/" class="nav-link px-2 link-secondary">Accueil</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Devenir hôte</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Créer son expérience</a></li>
      </ul>
      
      <%= render 'shared/navbar' %>
    </header>

    <%= yield %>

    <%= render 'shared/flashes' %>
  </body>
</html>
